@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif !important;
  @apply bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200;
}

body.dark,
html.dark {
  @apply bg-gray-800 text-white;
}

@font-face {
  font-family: 'Euclid Circular A';
  src:url("/fonts/euclid_circular_a/EuclidCircularA-Regular.woff2") format("woff2"),
      url("/fonts/euclid_circular_a/EuclidCircularA-Regular.woff") format("woff"),
      url('/fonts/euclid_circular_a/EuclidCircularA-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src:url("/fonts/euclid_circular_a/EuclidCircularA-Bold.woff2") format("woff2"),
      url("/fonts/euclid_circular_a/EuclidCircularA-Bold.woff") format("woff"),
      url('/fonts/euclid_circular_a/EuclidCircularA-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: bold;
}

@font-face {
  font-family: 'Euclid Circular A';
  src:url("/fonts/euclid_circular_a/EuclidCircularA-Italic.woff2") format("woff2"),
      url("/fonts/euclid_circular_a/EuclidCircularA-Italic.woff") format("woff"),
      url('/fonts/euclid_circular_a/EuclidCircularA-Italic.ttf') format('truetype');
  font-weight: 400; /* Regular Italic */
  font-style: italic;
}

.sidebar {
  resize: none;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
  color: #0000;
  background: linear-gradient(90deg, white calc(50% + 0.5ch), #c0c0c0 0) right / calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: l7 2s infinite steps(11);
}

.loaderL {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
  color: #0000;
  background: linear-gradient(90deg, #234950 calc(50% + 0.5ch), #58932982 0) right / calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: l7 2s infinite steps(11);
}


@keyframes l7 {
  to {
      background-position: left;
  }
}

.font-euclid {
  @apply font-sans;
  font-family: "Euclid Circular A", sans-serif;
}
